---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(
      posts.flatMap((post) => post.data.tags.map((t) => t.toLowerCase())),
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts
      .filter((post) =>
        post.data.tags.some((t) => t.toLowerCase() === tag.toLowerCase()),
      )
      .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
    return {
      params: { tag },
      props: { posts: filteredPosts, tag },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`#${tag} | Blog | HALQME`}>
  <section>
    <div class="mb-4 flex items-start justify-between">
      <h1
        class="text-headline bg-base mb-0 flex items-center gap-3 select-none"
        transition:animate="slide"
      >
        <div class="i-lucide:tag"></div>
        {tag}
      </h1>
      <a href="/tags" class="btn-ghost text-sm">
        <div class="i-lucide:tags"></div>
        Tags
      </a>
    </div>
    <p class="text-body mt-2 mb-4 font-mono">
      {posts.length} 件の記事
    </p>

    <div class="grid gap-8 md:grid-cols-2">
      {posts.map((post) => <BlogCard post={post} activeTag={tag} />)}
    </div>
  </section>
</Layout>
