---
import Hero from "@/components/hero/Hero.astro";
import Projects from "@/components/hero/Projects.astro";
import SkillCard from "@/components/hero/SkillCard.astro";
import SocialLink from "@/components/hero/SocialLink.astro";
import Layout from "@/layouts/Layout.astro";

import { styles } from "@/styles/tailwind";
---

<Layout
    title="HALQME"
    description="HALQME のポートフォリオサイト"
    heroImage="/blog-placeholder-about.jpg"
>
    <Hero />
    <section
        aria-label="Skills & Technologies"
        class={styles.layout.sectionIndex}
        data-pagefind-ignore
    >
        <h2 class={styles.text.heading.h2}>Skills & Technologies</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2">
            <SkillCard title="Languages" items={["Swift", "TypeScript"]} />

            <SkillCard
                title="Frameworks & Libraries"
                items={["Astro", "Tailwind CSS"]}
            />
            <SkillCard
                title="Tools & Platforms"
                items={["Xcode", "Git", "GitHub"]}
            />

            <SkillCard
                title="Learning"
                items={["React & Next.js", "Node.js", "Haskell"]}
            />
        </div>
    </section>
    <section
        aria-label="Projects"
        class={styles.layout.sectionIndex}
        data-pagefind-ignore
    >
        <h2 class={styles.text.heading.h2}>Projects</h2>
        <div class="mx-3">
            <Projects limit={4} />
        </div>
    </section>

    <section
        aria-label="About Me"
        class={styles.layout.sectionIndex}
        data-pagefind-ignore
    >
        <h2 class={styles.text.heading.h2}>About Me</h2>
        <div class="prose prose-lg dark:prose-invert mx-3">
            <p class="text-gray-800 dark:text-gray-200 leading-relaxed">
                大学生です（2023〜）。心理学専攻の文系ですが、部活のWebサイトを作ったり、活動記録用のWebアプリを作ったり、大学生活を助けるサービスを企画したりしています。
            </p>
            <p>
                Swiftとか、TypeScriptとかを勉強しています。Haskellもやろうと思っています。
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 my-6 gap-4">
            <SocialLink
                href="https://twitter.com/halqme_dev"
                icon="twitter-logo"
                title="Twitter"
            />

            <SocialLink
                href="https://github.com/halqme"
                icon="github-logo"
                title="GitHub"
            />
        </div>
    </section>
</Layout>
