---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  ogType?: "website" | "article";
  pubDate?: Date;
  modifiedDate?: Date;
  tags?: string[];
}

const {
  title,
  description = "HALQME's Portfolio and Blog",
  ogImage,
  ogType = "website",
  pubDate,
  modifiedDate,
  tags,
} = Astro.props;

const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site || Astro.url.origin,
);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {
      ogImage && (
        <>
          <meta property="og:title" content={title} />
          <meta property="og:description" content={description} />
          <meta property="og:type" content={ogType} />
          <meta property="og:url" content={canonicalURL} />
          <meta property="og:image" content={ogImage} />
          <meta property="og:site_name" content="HALQME" />
          <meta property="og:locale" content="ja_JP" />

          <meta name="twitter:card" content="summary_large_image" />
          <meta name="twitter:title" content={title} />
          <meta name="twitter:description" content={description} />
          <meta name="twitter:image" content={ogImage} />
        </>
      )
    }

    {
      ogType === "article" && pubDate && (
        <meta
          property="article:published_time"
          content={pubDate.toISOString()}
        />
      )
    }
    {
      ogType === "article" && modifiedDate && (
        <meta
          property="article:modified_time"
          content={modifiedDate.toISOString()}
        />
      )
    }
    {
      ogType === "article" &&
        tags &&
        tags.map((tag) => <meta property="article:tag" content={tag} />)
    }

    <link rel="canonical" href={canonicalURL} />
  </head>
  <body
    class="pattern-dots flex min-h-screen flex-col bg-white font-sans text-neutral-900"
  >
    <Header />
    <main class="container-main w-full flex-1 py-6 md:py-20">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  ::selection {
    background-color: black;
    color: white;
  }
  ::-moz-selection {
    background-color: black;
    color: white;
  }
</style>
